h1>Edit - <%= @player.name %></h1>
<form method="POST" action="/players/<%= @player.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label><input type="text" name="player[name]" id="player_name"><br><br>

  <label>Positions</label><br>
  <em>Choose from an Existing Position</em><br>
  <%Position.all.each do |position| %>
    <input type="checkbox" name="player[position_ids][]" value="<%= position.id %>" id="position_<%= position.id %>" >
    <%= position.name %>
    <br>
  <% end %><br>


  <label>Team:</label><br>
  <em>Choose from an Existing Team</em><br>
  <% Team.all.each do |team| %>
    <input type="checkbox" name="player[team_ids][]" value="<%= team.id %>" id="team_<%= team.id %>" >
    <%= team.name %>
    <br>
  <% end %><br>
  <em>and/or Create a New Team:</em><br>
  <label>Landmark:</label><input type="text" name="team[name]" id="new_team">
  <br><br>

  <input type="submit" value="Edit Playet">
</form>
